@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";
@config "../tailwind.config.js";

@theme {
  --*: initial;
  --default-font-family: var(--font-family-font), sans-serif;
  --default-mono-font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

img.token-icon[alt]:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  padding-top: 7px;
  text-align: center;
  font-size: x-large;
  color: #ffffff;
  content: attr(alt);
}
