name: "[Release] Prerelease to npm"

on:
  # push:
  #   tags:
  #     - "**/v*.*.*-pre.*"  # Match prerelease tags
  #     - "!**/v*.*.*"       # Exclude stable release tags
  workflow_dispatch:
    inputs:
      preid:
        description: "Prerelease tag"
        required: true
        default: "pre"
      ref:
        description: "Git ref to release from"
        required: true

env:
  FORCE_COLOR: "1"

jobs:
  build-and-publish:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write # needed for provenance data generation
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}
      - uses: ./.github/actions/setup-action-composite
        with:
          playwright: false

      - name: create .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=${NPM_TOKEN}
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPMJS_TOKEN }}

      - name: release to npm
        run: pnpm release --provenance --preid ${{ inputs.preid || 'pre' }} --tag ${{ inputs.preid || 'pre' }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
