name: "[CI] Pull Request"

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches-ignore:
      - main

env:
  FORCE_COLOR: "1"


concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name != 'develop' && github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  auto-assign:
    name: "Assign author"
    runs-on: ubuntu-22.04
    steps:
      - uses: toshimaru/auto-author-assign@v2.1.1

  danger:
    name: "Danger checks"
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-action-composite
      - name: Danger
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pnpm danger:ci

  checks:
    name: "Health checks"
    # needs: [danger]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch develop
        run: |
          git fetch origin develop
          git checkout develop
          git checkout -
      - uses: ./.github/actions/setup-action-composite
      - name: Health checks
        run: |
          pnpm nx affected -t lint,typecheck,test --base=develop --skip-nx-cache --exclude=@ledgerhq/ledger-button-workspace
      - name: Storybook test
        run: |
          pnpm storybook:test
